body {
  background-color: #1a1a1a;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
}

p {
  color: #ffffff;
  text-align: center;
}

h1 {
  color: #01fe01;
}
